In [1]:
import pandas as pd

In [2]:
student = {
    'first' : ['yash','manav','poojan','arpit','juzer','ishan','shubham','parth','naughty','kush'],
    'last' : ['patel','shah','patel','shah','doshi','doshi','patel','patel','patel','patel'],
    'email' : ['yash@gmail.com','manav@gmail.com','poojan@gmail.com','arpit@gmail.com','juzer@gmail.com','ishan@gmail.com','shubham@gmail.com','parth@gmail.com','kush@gmail.com','abhishek@gmail.com'],
    'college' : ['changa','svit','changa','iti','svit','nirma','svit','changa','svit','changa'],
    'per' : [90,80,70,20,46,82,67,94,58,91],
    'grade' : ['aa','bb','cc','aa','aa','bb','dd','aa','cc','aa']
}

In [3]:
df  = pd.DataFrame(student)
df

     first   last               email college  per grade
0     yash  patel      yash@gmail.com  changa   90    aa
1    manav   shah     manav@gmail.com    svit   80    bb
2   poojan  patel    poojan@gmail.com  changa   70    cc
3    arpit   shah     arpit@gmail.com     iti   20    aa
4    juzer  doshi     juzer@gmail.com    svit   46    aa
5    ishan  doshi     ishan@gmail.com   nirma   82    bb
6  shubham  patel   shubham@gmail.com    svit   67    dd
7    parth  patel     parth@gmail.com  changa   94    aa
8  naughty  patel      kush@gmail.com    svit   58    cc
9     kush  patel  abhishek@gmail.com  changa   91    aa

In [4]:
df.to_csv('mydata.txt')

In [5]:
dff = pd.read_csv('mydata.txt')
dff

   Unnamed: 0    first   last               email college  per grade
0           0     yash  patel      yash@gmail.com  changa   90    aa
1           1    manav   shah     manav@gmail.com    svit   80    bb
2           2   poojan  patel    poojan@gmail.com  changa   70    cc
3           3    arpit   shah     arpit@gmail.com     iti   20    aa
4           4    juzer  doshi     juzer@gmail.com    svit   46    aa
5           5    ishan  doshi     ishan@gmail.com   nirma   82    bb
6           6  shubham  patel   shubham@gmail.com    svit   67    dd
7           7    parth  patel     parth@gmail.com  changa   94    aa
8           8  naughty  patel      kush@gmail.com    svit   58    cc
9           9     kush  patel  abhishek@gmail.com  changa   91    aa

In [6]:
df.to_csv('mydata.csv',index =False)

In [7]:
dff = pd.read_csv('mydata.csv')
dff

     first   last               email college  per grade
0     yash  patel      yash@gmail.com  changa   90    aa
1    manav   shah     manav@gmail.com    svit   80    bb
2   poojan  patel    poojan@gmail.com  changa   70    cc
3    arpit   shah     arpit@gmail.com     iti   20    aa
4    juzer  doshi     juzer@gmail.com    svit   46    aa
5    ishan  doshi     ishan@gmail.com   nirma   82    bb
6  shubham  patel   shubham@gmail.com    svit   67    dd
7    parth  patel     parth@gmail.com  changa   94    aa
8  naughty  patel      kush@gmail.com    svit   58    cc
9     kush  patel  abhishek@gmail.com  changa   91    aa

In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ------------------------------------ 250.0/250.0 kB 807.2 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
df.to_excel('mydata.xlsx', index = False)

In [14]:
dff= pd.read_excel("mydata.xlsx")
dff

     first   last               email college  per grade
0     yash  patel      yash@gmail.com  changa   90    aa
1    manav   shah     manav@gmail.com    svit   80    bb
2   poojan  patel    poojan@gmail.com  changa   70    cc
3    arpit   shah     arpit@gmail.com     iti   20    aa
4    juzer  doshi     juzer@gmail.com    svit   46    aa
5    ishan  doshi     ishan@gmail.com   nirma   82    bb
6  shubham  patel   shubham@gmail.com    svit   67    dd
7    parth  patel     parth@gmail.com  changa   94    aa
8  naughty  patel      kush@gmail.com    svit   58    cc
9     kush  patel  abhishek@gmail.com  changa   91    aa

In [1]:
import xml.etree.ElementTree as et

In [3]:
file = et.parse("mycollege.xml")

ParseError: not well-formed (invalid token): line 1, column 0 (<string>)

In [4]:
root  = file.getroot()
root

NameError: name 'file' is not defined

In [5]:
for record in root :
    vid = record.find("id").text
    vna = record.find("name").text
    vpe = record.find("per").text
    print(vid, " , ",vna," , ",vpe)

NameError: name 'root' is not defined

In [8]:
rows = []

In [9]:
for record in root :
    vid = record.find("id").text
    vna = record.find("name").text
    vpe = record.find("per").text
    rows.append({'id' : vid, 'name':vna, 'per': vpe})

NameError: name 'root' is not defined

In [10]:
df = pd.DataFrame(rows)
df

NameError: name 'pd' is not defined